
.gradient {
    background: linear-gradient(0deg, #EEFBFF 0%, #ffffff 100%);
}

.nav-gradient {
    -moz-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0, 0.2);
    -webkit-box-shadow: inset 0 -10px 10px -10px rgba(0,0,0, 0.2);
    box-shadow: inset 0 -10px 10px -10px rgba(0,0,0, 0.2);
}